<header>
    <h1>Vapeur</h1>
    <nav>
        <a href="/">Accueil</a>
        <a href="/games">Jeux</a>
        <a href="/genres">Genres</a>
        <a href="/editors">Éditeurs</a>
    </nav>
</header>
